<section
  class="w-[12rem] border-e border-gray-200 h-screen fixed top-[3.5rem] start-0 overflow-y-auto bg-white"
>
  <ul class="flex flex-col items-start py-4 gap-2">
    @for (item of sidebarMenu(); track item.name) {
    <li class="w-full">
      <a
        class="flex items-center gap-2 p-2 w-full hover:bg-blue-300 hover:text-white"
        [routerLinkActive]="['bg-blue-600', 'text-white']"
        [routerLink]="item.link"
      >
        <i-lucide [img]="item.icon" class="size-4" />
        {{ item.name }}
      </a>
    </li>
    }
  </ul>
</section>
